.formBox{
    width: 50%;
    height: 800px;
    background-color: white;
    margin-left: 300px;
    margin-top: 100px; ;
    box-shadow: 2px 3px 20px rgba(0,0,0,0.5);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 100px;
    position: relative;
}
.formLine{
    height: 2px;
    width: 80%;
    background-color: silver;
    margin: 30px 0 40px 70px;
    display: flex;
    justify-content: flex-start;

}
.formControl {
    margin: 500px;

}
.htbText{
    font-size: 18px;
    line-height: 30px;
    margin-top: 10px;
}
.FormColumns{
    display: flex;
    flex-direction: column;
}

.name-simple{
    margin-top: 10px;
}