.catalog-item-image{
    background-size: contain;
    width: 250px;
    height: 350px;
    margin: 20px 0;

}
.image-wrapper{
    display: flex
}
.item-wrapper{
    margin: 30px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(188, 188, 188, 0.24), 0 0 10px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s all
}
.item-wrapper:hover{
    background-color: beige;

}