.button:hover {
     color:  white !important;

}
.button {
    background: linear-gradient(45deg, #E023E4 30%, #11F5F5 90%) !important;
    text-decoration: none;
    color: #f1f1f1 !important;
    display: block;
    position: absolute;
    font-size: 36px;
    transition: 0.3s;
}

.active {
    border-bottom: 2px solid white;
}