.toolbar-parents {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.toolbar {
    background: linear-gradient(45deg, #E023E4 30%, #11F5F5 90%);
    color: white;
    min-height: 80% !important;
    width: 100%;

}
.hat-header{
    height: 175px;
    background: url("https://sun1-2.userapi.com/c840538/v840538188/335ed/gSZVDeMNKgs.jpg");
    background-position: 10% -55%;
}
.menu-header{
    height: 50px ;
}

.layout-wrapper {
    height: 100vh;
}
.bearforlove {
    font-size: 60px !important;
    font-weight: lighter;
    padding: 70px;
}
.bigHeader{
    padding-bottom: 200px;
}