.column{
background-color: white;
    border: 3px solid #F309F6;
    width: 125px;
    height: 190px;
    margin: 30px;
    padding: 10px;
}
.column-item{
    display: block;
}
.column{
    align-items: flex-start
}
.active-column-item{
    background: linear-gradient(45deg, #7589F9 30%, #11F5F5 90%);
    color: white !important;
}
.link-color{
    color:black;
}