.column{
background-color: white;
    border: 3px solid #F309F6;
    width: 125px;
    height: 190px;
    margin: 30px;
    padding: 10px;
}
.column-item{
    padding-left: 7px;
    padding-top: 7px;
    display: block;
    color: #222222;
}
.column{
    align-items: flex-start
}
.active-column-item{
    text-decoration: underline;
}